In [274]:
#Importing packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix

In [388]:
#Preprocessing Data
train=pd.read_csv('/Users/michaelfilletti/Desktop/Uni/AI/Machine Learning/JP/Linear & Logistic Regression/train.csv')
test=pd.read_csv('/Users/michaelfilletti/Desktop/Uni/AI/Machine Learning/JP/Linear & Logistic Regression/test.csv')
train['Sex'] = np.where(train['Sex'] == 'male', 0, 1)
test['Sex'] = np.where(test['Sex'] == 'male', 0, 1)
train['Embarked']=pd.Categorical(train['Embarked'])
train['Embarked']=train['Embarked'].cat.codes
test['Embarked']=pd.Categorical(test['Embarked'])
test['Embarked']=test['Embarked'].cat.codes
train=train.dropna()
test=test.dropna()

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,2
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,2

In [416]:
#Datasets
#Training
y=np.asarray(train['Survived'])
x0=[1]*len(y)
x1=train['Pclass'].values
x2=train['Sex'].values
x3=train['Age'].values
x4=train['SibSp'].values
x5=train['Parch'].values
x6=train['Fare'].values
x7=train['Embarked'].values

#Test
x1t=test['Pclass'].values
x2t=test['Sex'].values
x3t=test['Age'].values
x4t=test['SibSp'].values
x5t=test['Parch'].values
x6t=test['Fare'].values
x7t=test['Embarked'].values
x0t=np.array([1]*len(x1t))

In [417]:
#Training the dataset
#Obtaining the parameters
w=np.array([1,1,1,1,1])
x=np.array([x0,x3,x4,x5,x6])
alpha=0.00001
for j in range(0,len(w)):
    count=0
    wj=w[j]
    for i in range(0,10000):
        count=count+1
        lin=np.matmul(np.transpose(w),x)
        diff=np.sum(x-y*x-(x*np.exp(-lin)/(1+np.exp(-lin))))
        wj=wj-(alpha*(diff)/len(y))
    w[j]=wj
print(w)

[-2 -2  2  2  2]

In [418]:
#Testing the dataset
x=np.array([x0t,x3t,x4t,x5t,x6t]) #Find a way to show an array of ones with the vector
lin=np.matmul(np.transpose(w),x)
p=1/(1+np.exp(-lin))
yt=[0]*len(p)
for i in range(0,len(p)):
    if (p[i]<0.5):
        yt[i]=0
    else:
        yt[i]=1
print(yt)

[1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1]

In [419]:
#Using sci-kit learn to carry out a logistic regression
y=np.asarray(train['Survived'])
x0=[1]*len(y)
x1=np.asarray(train['Pclass'])
x2=np.asarray(pd.factorize(train['Sex']))
x3=np.asarray(train['Age'])
x4=np.asarray(train['SibSp'])
x5=np.asarray(train['Parch'])
x6=np.asarray(train['Fare'])
x7=np.asarray(pd.factorize(train['Embarked']))
X=train.iloc[:,[2,4,5,6,7,9,11]]
y=train.iloc[:,1]
Xt=test.iloc[:,[1,3,4,5,6,8,10]]
clf = LogisticRegression().fit(X, y)
yt2=clf.predict(Xt)
print(yt2)

[1 1 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1 0 0 0
 1 1 0 1 1 1 1 1 0 1 1 1 0 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 1 1
 0 1 0 1 1 1 1 1 0 1 0 1 1]

In [420]:
#Confusion Matrix
yt=pd.Categorical(yt)
yt2=pd.Categorical(yt2)
confusion_matrix(yt,yt2)

array([[15, 10],
       [14, 48]])